* {
            margin: 0;
            padding: 0;
        }

        .el-main {
            background-color: #FFFFFF;
            color: #333;

        }

        .el-header {
            background-color: #FFFFFF;
            color: #333;
            line-height: 60px;
            padding-left: 0px;

        }

        .logo {
            width: 200px;
            line-height: 60px;
            color: #fff;
            font-weight: bolder;
            padding-left: 50px;
            box-sizing: border-box;
            color: #409EFF;
        }

        .card-container {
            display: flex;
            height: 900px;

        }

        .ava {
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }
        .users {
            width: 150px;
            height: 180px;
            margin-left: 310px;
            margin-right: 60px;


        }
        .word2 {
            width: 400px;
            height: 250px;
            text-align: center;
        }
        .orders {
            width: 150px;
            height: 180px;
            margin-left: 160px;
            margin-right: 60px;

        }

        .goods {
            width: 150px;
            height: 180px;
            margin-left: 310px;
            margin-right: 60px;
            margin-top: 80px;


        }
        .warehouse {
            width: 150px;
            height: 180px;
            margin-left: 160px;
            margin-right: 60px;
            margin-top: 80px;


        }




        .admin-info h3 {
            margin-left: 24px;
            padding-top: 12px;
            margin-bottom: 12px;
        }

        .weather {
            margin-left: 24px;
        }

        .cell {
            display: flex;
        }
        .all{
            align-items: center;
        }

        .top{
            position: absolute;
            margin-top: 170px;
        }
        .main{
            position: relative;

        }

        .head{
            float: right;
            margin-top: 10px;
        }