@import url("//unpkg.com/element-ui@2.15.7/lib/theme-chalk/index.css");


.el-card{
    box-shadow:  10px 10px 10px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
    border-radius: 16px;
}

.el-row {
    margin-bottom: 40px;
}
.el-carousel__container{
    height: 400px;
}
.data{

    border:solid ;
    border-left: #f5f5ff;
    border-top: #f5f5ff;
    border-bottom: #f5f5ff;
    border-right: #f5f5ff;



}
.title1{
    display:inline-block;
}

.pics{
    width: 40px;
    height: 45px;
    vertical-align:middle;
    position:absolute;
}
.word{
    font-size: 10px;
}
.box-card2{
    height: 200%;
}
.el-card__body{

}
.one{
    margin-bottom: 45px;
    margin-top: 20px;
}

.el-carousel__item:nth-child(2n) {
      background-color: #ffffff;
      border: 1px solid #333333;
      box-shadow:  10px 10px 10px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
      border-radius: 16px;
}

.el-carousel__item:nth-child(2n+1) {
        background-color: #ffffff;
        border: 1px solid #333333;
        box-shadow:  10px 10px 10px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
        border-radius: 16px;
}

.bg2 {
	width: 100px;
	height: 70px;
	align-items: center;
	margin-bottom: 50px;
	margin-left: 20px;
	display: inline-block;
	border: #bcbec2;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #e0e4ea;
	background-color: #fafeff;
}
/* 
1 为管理员
2 为货物员
3 为操作员 */

.bg2-1-left{
	background-color: #14b279;
	width: 1.5%;
	height: 90px;
	border-radius: 20px 0px 0px 20px;
	float:left;
	
}/* 设置管理员员页面的样式 */

.text{
	float:left;
	padding-top: 20px;
/* 	padding-right: 10px; */
	padding-left: 5%;
	margin-left: 0px;
/* 	padding:10px; */
}