*{
	margin: 0%;
	padding: 0;
}

/*.login{
	width: 100vw;
	padding: 0;
	margin: 0;
	height: 100vh;
	font-size: 16px;
	background-position: left top;
	background-color: #0a450a;
	color: #fff;
	position: relative;
	background-image: url("../pics/bg1.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}*/

/*.outerDiv{
	size: 100vw;
	overflow: scroll;
	overflow-y: hidden;
	overflow-x: hidden;
}*/

.loginBody{
	width: 280px;
	height: 350px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	padding: 50px 40px 40px 40px;
	/*box-shadow: -15px 15px 15px rgba(6, 17, 47, 0.7);*/
	opacity: 1;
	/*background: linear-gradient(
			230deg,
			rgba(53, 57, 74, 0) 0%,
			rgb(0, 0, 0) 100%*/
	);
}

.submitBtn {
	background-color: transparent;
	color: #39f;
	width: 200px;
}

.registerBody{
	width: 280px;
	height: 420px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	padding: 50px 40px 40px 40px;
	/*box-shadow: -15px 15px 15px rgba(6, 17, 47, 0.7);*/
	opacity: 1;
	/*background: linear-gradient(
			230deg,
			rgba(53, 57, 74, 0) 0%,
			rgb(0, 0, 0) 100%*/
	);
}

section {
	/* 相对定位 */
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	/* linear-gradient() 函数用于创建一个表示两种或多种颜色线性渐变的图片 */
	background: linear-gradient(to bottom, #f1f4f9, #dff1ff);
}

/* 背景颜色 */

section .color {
	/* 绝对定位 */
	position: absolute;
	/* 使用filter(滤镜) 属性，给图像设置高斯模糊*/
	filter: blur(200px);
}

/* :nth-child(n) 选择器匹配父元素中的第 n 个子元素 */

section .color:nth-child(1) {
	top: -350px;
	width: 600px;
	height: 600px;
	background: #ff359b;
}

section .color:nth-child(2) {
	bottom: -150px;
	left: 100px;
	width: 500px;
	height: 500px;
	background: #fffd87;
}

section .color:nth-child(3) {
	bottom: 50px;
	right: 100px;
	width: 500px;
	height: 500px;
	background: #00d2ff;
}

.container {
	position: relative;
	width: 400px;
	min-height: 400px;
	background: rgba(255, 255, 255, 0.1);
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(5px);
	box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-right: 1px solid rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
