*{
	margin: 0%;
	padding: 0;
}

.login{
	width: 100vw;
	padding: 0;
	margin: 0;
	height: 100vh;
	font-size: 16px;
	background-position: left top;
	background-color: #0a450a;
	color: #fff;
	position: relative;
	background-image: url("../pics/2.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.outerDiv{
	size: 100vw;
	overflow: scroll;
	overflow-y: hidden;
	overflow-x: hidden;
}

.loginBody{
	width: 280px;
	height: 480px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	padding: 50px 40px 40px 40px;
	box-shadow: -15px 15px 15px rgba(6, 17, 47, 0.7);
	opacity: 1;
	background: linear-gradient(
			230deg,
			rgba(53, 57, 74, 0) 0%,
			rgb(0, 0, 0) 100%
	);
}

.submitBtn {
	background-color: transparent;
	color: #39f;
	width: 200px;
}

.register{
	width: 100vw;
	padding: 0;
	margin: 0;
	height: 100vh;
	font-size: 16px;
	background-position: left top;
	background-color: #0a450a;
	color: #fff;
	position: relative;
	background-image: url("../pics/bg1.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}


.registerBody{
	width: 280px;
	height: 300px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	padding: 30px 40px 70px 40px;
	box-shadow: -15px 15px 15px rgba(6, 17, 47, 0.7);
	opacity: 1;
	background: linear-gradient(
			230deg,
			rgba(53, 57, 74, 0) 0%,
			rgb(0, 0, 0) 100%
	);
}
.registerInfo{
	width: 100vw;
	padding: 0;
	margin: 0;
	height: 100vh;
	font-size: 16px;
	background-position: left top;
	background-color: #0a450a;
	color: #fff;
	position: relative;
	background-image: url("../pics/bg1.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}


.registerInfoBody{
	width: 280px;
	height: 400px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	padding: 50px 40px 40px 40px;
	box-shadow: -15px 15px 15px rgba(6, 17, 47, 0.7);
	opacity: 1;
	background: linear-gradient(
			230deg,
			rgba(53, 57, 74, 0) 0%,
			rgb(0, 0, 0) 100%
	);
}
