<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../../assets/css/orders.css">
		<link rel="stylesheet" href="../../assets/css/element-ui/index.css">
		<title></title>
	</head>
	<body>
		<div id="app">
			<el-container>
				<el-container>
					<!-- 主体 -->
					<el-main>
						<el-breadcrumb style="margin-bottom: 12px;">
							<el-breadcrumb-item>首页</el-breadcrumb-item>
							<el-breadcrumb-item>业务流</el-breadcrumb-item>
							<el-breadcrumb-item>订单管理</el-breadcrumb-item>

						</el-breadcrumb>

						<!--新建订单区域-->
						<div class="card-container">
							<div class="handle-container">
								<!--查询表单-->
								<el-form>
									<el-row>
										<el-col :span='12'>
											<el-form-item>
												<el-input v-model="ordersId" clearable placeholder="请输⼊订单编号"
													style="width:200px;line-height:68px">
													<!-- clearable 输⼊框可清除属性 -->
												</el-input>
											</el-form-item>
										</el-col>
									</el-row>
								</el-form>
							</div>
							<el-row :span="8" align="right">
								<el-button type="primary" plain style="margin:15px 20px;" @click="like()"
									icon="el-icon-search">查询订单</el-button>
							</el-row>
						</div>


						<!--表单区域-->
						<el-card>
							<el-table :data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)" stripe
								style="width: 100%;">
								<el-table-column prop="orderId" label="订单编号" width="80">
								</el-table-column>
								<el-table-column prop="orderType" label="订单类型" width="130" :formatter="formatType">
								</el-table-column>
								<el-table-column prop="orderStartTime" label="订单开始时间">
								</el-table-column>
								<el-table-column prop="orderEndTime" label=订单结束时间>
								</el-table-column>
								<el-table-column prop="orderInit" label="订单创建人" :formatter="formatInit">
								</el-table-column>
								<el-table-column prop="orderOperator" label="订单操作员">
									<template slot-scope="scope">
										<el-select v-model="scope.row.orderOperator" placeholder="请选择操作员">
											<el-option v-for="users in options" :label="users.userName"
												:value="users.userId" :key="users.userId">
											</el-option>
										</el-select>
									</template>
								</el-table-column>
								<el-table-column prop="orderStatus" label="订单状态" :formatter="formatStatus">
								</el-table-column>
								<el-table-column label="操作" width="250" style="display: flex;">
									<template slot-scope="scope" v-for="orders in tableData">
										<!-- <el-button type="primary" plain @click="checkClick(scope.$index,scope.row)"
											icon="el-icon-edit" v-if="seen">确认订单</el-button> -->
										<el-button :ref="'tableButton' + scope.$index" type="primary" plain
											 icon="el-icon-edit"
											@click="checkClick">确认订单</el-button>
										<el-button type="primary" plain @click="viewClick(scope.$index)"
											icon="el-icon-info">详情</el-button>
									</template>
								</el-table-column>
							</el-table>
							<div class="card-container">
								<div class="handle-container">
									<!-- <el-button type="primary" plain style="margin:15px 20px;"  icon="el-icon-search">查询用户</el-button> -->
									<!-- <el-button type="primary" plain style="margin:15px 20px;" @click="addClick" icon="el-icon-plus">新增用户</el-button>-->
									<el-dialog :title="dialogFormTitle" :visible.sync="dialogFormVisible">
										<el-table :data="gridData">
											<el-table-column property="stockId" label="库存id" width="150">
											</el-table-column>
											<el-table-column property="goodsName" label="货品名称" width="200">
											</el-table-column>
											<el-table-column property="goodsNumber" label="货品数量"></el-table-column>
										</el-table>
										<div slot="footer" class="dialog-footer">
										  <el-button @click="dialogFormVisible = false">取 消</el-button>
										</div>
									</el-dialog>
								</div>
							</div>



                    <!-- 分页器 -->
                    <div class="block" style="text-align: center;">
                        <el-pagination align='center' @size-change="handleSizeChange" @current-change="handleCurrentChange"
                                       :current-page="currentPage"
                                       :page-sizes="[1,5,10,20]"
                                       :page-size="pageSize"
                                       layout="total, sizes, prev, pager, next, jumper"
                                       :total="tableData.length">
                        </el-pagination>
                    </div>
                </el-card>
            </el-main>
        </el-container>
    </el-container>
</div>
</body>
<script src="../../assets/js/vue.js"></script>
<script src="../../assets/css/element-ui/index.js"></script>
<script src="../../assets/js/axios.min.js"></script>

	<script>
		new Vue({
			el: '#app',
			data: function() {
				return {
					tableData: [],
					ordersId: "",
					isCheck: false,
					options: [], //下拉框中的数据
					dialogFormVisible: false,
					dialogFormTitle: "查看订单详情",
					gridData: [],
					form: {
						orderID: '',
						orderType: '',
						orderStartTime: '',
						orderEndTime: '',
						orderInit: '',
						orderOperator: ''
					},
					formLabelWidth: '120px',
					currentPage: 1, // 当前页码
					total: 20, // 总条数
					pageSize: 5 // 每页的数据条数
				}
			},

			created() {
				this.getAll()
                this.getOperatorName()

			},

			methods: {
				getAll() {
					axios.get("http://localhost:8080/orders").then(res => {
						this.tableData = res.data;
					});
				},
				viewClick(index) {
					this.dialogFormVisible = true;
					var orderId = this.tableData[index].orderId;
					axios.get("http://localhost:8080/stockIn/getByOrderId?orderId=" + orderId).then(res => {
						this.gridData = res.data;
						console.log(this.gridData);
					});
				},
				//模糊查询
				like() {
					console.log(1);
					axios.get("http://localhost:8080/orders/like?ordersId=" + this.ordersId).then(res => {
						console.log(res);
						this.tableData = res.data;
					});
				},
				getOperatorName() {
					axios.get("http://localhost:8080/users").then(res => {
						this.options = res.data;
					});//仅获取操作员，但没实现
				},
				checkClick(index, row) {
					axios.post("http://localhost:8080/orders/check", this.tableData[index]).then(res => {
						if (res.data) {
							// console.log(this.tableData[index]);
							this.$message({
								type: 'success',
								message: '确认订单成功!'
							});
							this.getAll();
						} else {
							this.$message({
								type: 'info',
								message: '确认订单失败'
							});
						}
					})
				},
				formatStatus(row) {
					switch (row.orderStatus) {
						case 10:
							return "未入库"
							break
						case 11:
							return "入库中"
							break
						case 12:
							return "已入库"
							break
						case 20:
							return "未出库"
							break
						case 21:
							return "出库中"
							break
						case 12:
							return "已出库"
							break
						default:
							return "未知"
							break
					}
				},
				formatType(row) {
					switch (row.orderType) {
						case 1:
							return "入库"
							break
						case 2:
							return "出库"
							break
						default:
							return "未填写"
							break
					}
				},
				formatInit(row) {
					if (row.orderInit === 11) {
						return "管理员Anna"
					} else {
						return "未知"
					}
				},
				//每页条数改变时触发 选择一页显示多少行
				handleSizeChange(val) {
					console.log(`每页 ${val} 条`);
					this.currentPage = 1;
					this.pageSize = val;
				},
				//当前页改变时触发 跳转其他页
				handleCurrentChange(val) {
					console.log(`当前页: ${val}`);
					this.currentPage = val;
				}
			}
		})
	</script>
</html>
