<!DOCTYPE html>
<html lang="" xmlns="">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../assets/css/goods.css" >
    <link rel="stylesheet" href="../../assets/css/element-ui/index.css">
    <title></title>
</head>
<body>
<div id="app">
    <el-container>
        <el-container>
            <!-- 主体 -->
            <el-main>
                <el-breadcrumb style="margin-bottom: 12px;">
                    <el-breadcrumb-item>首页</el-breadcrumb-item>
                    <el-breadcrumb-item>业务流</el-breadcrumb-item>
                    <el-breadcrumb-item>用户管理</el-breadcrumb-item>

                </el-breadcrumb>

                <div class="card-container">
                    <div class="handle-container">

                        <el-button type="primary" plain style="margin:15px 20px;"  icon="el-icon-search">查询用户</el-button>
                        <el-button type="primary" plain style="margin:15px 20px;" @click="addClick" icon="el-icon-plus">新增用户</el-button>

                        <el-dialog :title="dialogFormTitle" :visible.sync="dialogFormVisible">
                            <el-form :model="form" ref="form">
                                <!-- <el-form-item label="用户ID" :label-width="formLabelWidth" prop="userId">
                                    <el-input v-model="form.userId" autocomplete="off"></el-input>
                                </el-form-item> -->
                                <!-- <el-form-item label="用户姓名" :label-width="formLabelWidth" prop="userName">
                                    <el-input v-model="form.userName" autocomplete="off"></el-input>
                                </el-form-item> -->
                                <el-form-item label="用户电话号" :label-width="formLabelWidth" prop="userTele">
                                    <el-input v-model="form.userTele" autocomplete="off"></el-input>
                                </el-form-item>
                                <el-form-item label="用户地址" :label-width="formLabelWidth" prop="userLocation">
                                    <el-input v-model="form.userLocation" autocomplete="off"></el-input>
                                </el-form-item>
								<el-form-item label="用户商家名" :label-width="formLabelWidth" prop="userRetailer">
								    <el-input v-model="form.userRetailer" autocomplete="off"></el-input>
								</el-form-item>

                            </el-form>
                            <div slot="footer" class="dialog-footer">
                                <el-button @click="dialogFormVisible = false">取 消</el-button>
                                <el-button v-if="isAdd" type="primary" @click="addUsers()">确 定</el-button>
                                <el-button  v-else type="primary" @click="updateUsersById()">更 新</el-button>
                            
							</div>
                        </el-dialog>

                    </div>
                </div>

                <el-card>
                    <el-table :data="tableData" stripe style="width: 100%; " >
                        <el-table-column prop="userId" label="用户ID" width="180">
                        </el-table-column>
                        <el-table-column prop="userName" label="用户姓名" width="180">
                        </el-table-column>
                        <el-table-column prop="userTele" label="用户电话号">
                        </el-table-column>
                        <el-table-column prop="userLocation" label="用户地址">
                        </el-table-column>
                        <el-table-column prop="userRetailer" label="用户商家名">
                        </el-table-column>
                        <el-table-column prop="userRole" label="用户权限">
                        </el-table-column>
						
                        <el-table-column label="操作" width="250" style="display: flex;">
                            <template slot-scope="scope">

                                <el-button type="primary" plain @click="editClick(scope.$index,scope.row)" icon="el-icon-edit">编辑</el-button>
                                <el-button type="danger" plain @click="removeUsersById(scope.$index)" icon="el-icon-delete">删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <div style="text-align: center;">
                        <el-pagination background layout="prev, pager, next" :total="1000"></el-pagination>
                    </div>
                </el-card>
            </el-main>
        </el-container>
    </el-container>
</div>
</body>
<script src="../../assets/js/vue.js"></script>
<script src="../../assets/css/element-ui/index.js"></script>
<script src="../../assets/js/axios.min.js"></script>

<script>
    new Vue({
        el: '#app',
        data: function() {
            return {
                tableData: [],
                dialogFormVisible: false,
                dialogFormTitle: "",
                form: {
                    id: '',
                    name: '',
                    userTele: '',
                    userLocation: '',
                    userRetailer: ''

                },
                formLabelWidth: '120px',
                isAdd: false,
				userId: '',
				altTime: ''

            }
        },

        created(){
            this.getAll();
        },

        methods: {
            getAll(){
                axios.get("http://localhost:8080/usersDetail").then(res=>{
                    console.log("here is userdetail");
                    this.tableData = res.data ;
                });
            },

            removeUsersById(index) {
                var id = this.tableData[index].userId;
                this.$confirm('此操作将永久删除用户, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios.delete("http://localhost:8080/users/" + id).then(res=> {
                        this.getAll();
                    });
                    this.$message({
                        type: 'success',
                        message: '删除成功!'
                    });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },

            addClick() {
                this.dialogFormVisible = true;
                this.dialogFormTitle = "新增用户";
                this.isAdd = true;
                this.userId = this.tableData[index].userId;
            },

            /* addUsers(index) {
                var id = this.tableData[index].userId;
                axios.post("http://localhost:8080/usersInfo/save",{params: {userInfo: this.form,userId: id}}).then(rel=>{
                    if(rel.data){
                        this.$message({
                            type: 'success',
                            message: '新增成功!'
                        });
                        this.getAll();
                        this.dialogFormVisible = false;

                    }else{
                        this.$message({
                            type: 'info',
                            message: '新增失败'
                        });
                    }
                    this.$refs.form.resetFields();
                })
            }, */

            editClick(index,row) {
                this.dialogFormVisible = true;
                this.dialogFormTitle = "修改用户信息";
                this.isAdd = false;
                this.form = Object.assign({},row);
                this.altTime = this.tableData[index].usersInfoAltTime;
				console.log(this.altTime);
            },

            updateUsersById() {
				console.log("here is update");
				console.log(this.form.userId);
				/* var altTime = this.tableData[index].usersInfoAltTime; */
				console.log(this.form.usersInfoAltTime);
                axios.put("http://localhost:8080/usersInfo",{usersInfo: this.form,},{params: {userId: this.form.userId, usersInfoAltTime: this.form.usersInfoAltTime}}).then(rel=>{
                    if(rel.data){
                        this.$message({
                            type: 'success',
                            message: '修改成功!'
                        });
                        this.getAll();
                        this.dialogFormVisible = false;

                    }else{
                        this.$message({
                            type: 'info',
                            message: '修改失败'
                        });
                    }
                    this.$refs.form.resetFields();
                })
            }
        }
    })
</script>
</html>
