<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../assets/css/adminindex.css">
    <link rel="stylesheet" href="../../assets/css/element-ui/index.css">
    <link rel="shortcut icon" href="../../assets/pics/logo2.png">
    <title>管理员页面</title>
</head>
<body>
<div id="app">
    <el-container>
        <el-header style="height: 80px">
            <!--					TODO: 假的，需要加token后续实现-->

        <!--logo-->

        <div class="head" style="float: left;">
			<el-image :src="src1" class="ava">
				<div slot="placeholder" class="image-slot">
					加载中<span class="dot">...</span>
				</div>
			</el-image>
        </div>
        <div class="logo" style="font-size: 25px;width: 300px;padding-top:5px;color: #14b279">汇安智能仓储平台</div>

        <!--头像-->
        <div class="avatar" style="float: right;">
            <el-button @click="drawer=true;" circle >
                <el-avatar src="../../assets/pics/ava_green.png">
                </el-avatar>

            </el-button>

            <el-drawer
                    title="个人主页"
                    :visible.sync="drawer"
                    size="40%"
			        background ="#f8fff7">
                <div>
					<div class="personal-info">
						<div class="tele" style="margin-left: 15%">手机号：<div style="display: inline">{{dataForm.userTele}}</div></div>
					</div>

					<div class="personal-info">
						<div class="lo" style="margin-left: 15%">地址：<div style="display: inline">{{dataForm.userLocation}}</div></div>
					</div>

					<div class="personal-info">
						<div class="retailer" style="margin-left: 15%">单位：<div style="display: inline">{{dataForm.userRetailer}}</div></div>
					</div>


					<el-button @click="innerDrawer = true">编辑信息</el-button>

                    <el-drawer
                            title="编辑个人信息"
                            :append-to-body="true"
                            :before-close="close"
                            :visible.sync="innerDrawer"
							ref="drawer">
						<div>
							<!--<el-form :model="userInfoForm" ref="userInfoForm" label-width="0px">
								<el-form-item label="" prop="userTele" style="margin-top:10px;">
									<el-row>
										<el-col :span='2'>
											<span class="el-icon-s-custom"></span>
										</el-col>
										<el-col :span='20'>
											<el-input class="inps" placeholder='电话号码' v-model="userInfoForm.userTele">
											</el-input>
										</el-col>
									</el-row>
								</el-form-item>
								<el-form-item label="" prop="userLocation" style="margin-top:10px;">
									<el-row>
										<el-col :span='2'>
											<span class="el-icon-s-custom"></span>
										</el-col>
										<el-col :span='20'>
											<el-input class="inps" placeholder='地址' v-model="userInfoForm.userLocation">
											</el-input>
										</el-col>
									</el-row>
								</el-form-item>
								<el-form-item label="" prop="userRetailer" style="margin-top:10px;">
									<el-row>
										<el-col :span='2'>
											<span class="el-icon-s-custom"></span>
										</el-col>
										<el-col :span='20'>
											<el-input class="inps" placeholder='单位' v-model="userInfoForm.userRetailer">
											</el-input>
										</el-col>
									</el-row>
								</el-form-item>
								<el-form-item style="margin-top:10px">
									<el-button type="primary" round class="submitBtn" v-on:click="EditUserInfo">保存
									</el-button>
								</el-form-item>
							</el-form>-->
							<el-form :model="userInfoForm" ref="userInfoForm">
								<el-form-item label="电话号码" :label-width="formLabelWidth">
									<el-input v-model="userInfoForm.userTele" autocomplete= "off"></el-input>
								</el-form-item>
								<el-form-item label="地址" :label-width="formLabelWidth">
									<el-input v-model="userInfoForm.userLocation" autocomplete="off"></el-input>
								</el-form-item>
								<el-form-item label="单位" :label-width="formLabelWidth">
									<el-input v-model="userInfoForm.userRetailer" autocomplete="off"></el-input>
								</el-form-item>
							</el-form>
							<div class="demo-drawer__footer">
								<el-button round type="primary" @click="EditUserInfo">保存</el-button>
								<el-button round @click="innerDrawer = false">取 消</el-button>
							</div>
						</div>
                    </el-drawer>
                </div>
            </el-drawer>
        </div>
        </el-header>


        <el-container>
            <!--侧边栏-->
            <el-aside width="auto">
                <el-menu class="el-menu-vertical-demo" default-active="1" style="height: 110vh;"
                         background-color="#FFFFFF" text-color="#000000" active-text-color="#009e75"
                         @open="handleOpen" @close="handleClose" :collapse="isCollapse">
                    <el-radio-group v-model="isCollapse">
                        <el-radio-button :label="false" v-if="isCollapse" size="medium" style="float:left;"><i class="el-icon-d-arrow-right"></i>
                        </el-radio-button>
                        <el-radio-button :label="true" v-else size="medium"><i class="el-icon-d-arrow-left"></i>
                        </el-radio-button>
                    </el-radio-group>

                    <el-menu-item index="1" >
                        <i class="el-icon-menu" ></i>
                        <span slot="title" @click="openUrl('./index.html')">主页</span>
                    </el-menu-item>


							<el-menu-item index="2" >
								<i class="el-icon-s-help"></i>
								<span slot="title"  @click="openUrl('./charts.html')" style="">控制台</span>
							</el-menu-item>
							<el-submenu index="3" >
								<template slot="title">
									<i class="el-icon-view"></i>
									<span slot="title" >业务流</span>
								</template>
								<el-menu-item-group>
									<el-menu-item index="3-1">
										<i class="el-icon-user"></i>
										<span slot="title" @click="openUrl('../admin/users.html')">用户管理</span>
									</el-menu-item>
									<el-menu-item index="3-2">
										<i class="el-icon-s-home"></i>
										<span slot="title" @click="openUrl('../admin/warehouse.html')">仓库管理</span>
									</el-menu-item>
									<el-menu-item index="3-3">
										<i class="el-icon-goods"></i>
										<span slot="title" @click="openUrl('../admin/goods.html')">货物管理</span>
									</el-menu-item>
									<el-menu-item index="3-4">
										<i class="el-icon-s-order"></i>
										<span slot="title" @click="openUrl('../admin/orders.html')">订单管理</span>
									</el-menu-item>
									<el-menu-item index="3-5">
										<i class="el-icon-takeaway-box"></i>
										<span slot="title" @click="openUrl('../admin/inventory.html')">库存管理</span>
									</el-menu-item>

								</el-menu-item-group>
							</el-submenu>
							<el-menu-item index="4">
								<i class="el-icon-warning-outline"></i>
								<span slot="title" @click="logout">退出登录</span>
							</el-menu-item>
						</el-menu>
					</el-aside>
					<!-- 主体 -->
					<el-main>
						<iframe id="mainIframe" class="mainFrame" :src="iframeUrl" width="100%" height="100%"
							frameborder="0" scrolling="no"></iframe>
					</el-main>

				</el-container>
			</el-container>
		</div>
	</body>
	<script src="../../assets/js/vue.js"></script>
	<script src="../../assets/css/element-ui/index.js"></script>
	<script src="../../assets/js/axios.min.js"></script>
	<script>
		new Vue({
			el: '#app',
			data: function() {
				return {
					/* src: 'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg', */
                    drawer: false,
                    innerDrawer: false,
					userInfoForm: {
						userTele: '',
						userLocation: '',
						userRetailer: '',
					},
                    UserEditVisible: true,
					editForm: [],
					datalist: [],
					FormData: {},
					dataForm: {
                    	userTele:'',
						userLocation: '',
						userRetailer: '',
					},
					isCollapse: true,
					iframeUrl: './index.html',
					fit: 'contain',
					avatarURL: ' ../../assets/pics/logo_green.png',
					src1:'../../assets/pics/logo_green.png',
					formLabelWidth: '80px',
				}
			},
			created() {
                this.getLowWarnList();
				this.getPersonalInfo(); //用户个人信息提醒
				this.get(); //获取用户个人信息

			},
			methods: {
				//低库存提醒
				getLowWarnList() {
					axios.get("http://localhost:8080/warning/warn").then(res => {
						if (res.data != null && res.data.length > 0) {
							this.$notify({
								title: '低库存提醒',
								message: '目前仓库内有货物库存量过低哦！',
								position: 'bottom-left',
								type: 'warning'
							});
						}
					});
				},

				//个人信息填写提醒
				getPersonalInfo() {
					axios.get("http://localhost:8080/usersInfo/ifNull").then(res => {
						if (res.data == true) {
							this.$notify({
								title: '个人信息提醒',
								message: '您还未填写个人信息，请抓紧时间填写哦！',
								position: 'bottom-left',
								type: 'warning'
							});
						}
					});
				},

				//关闭编辑个人信息
				close(done) {
					this.$confirm('还有未保存的信息哦确定关闭吗？')
							.then(_ => {
								done();
							})
							.catch(_ => {});
				},


				//编辑个人信息
				EditUserInfo() {
					axios.post("http://localhost:8080/usersInfo/updateInfo",this.userInfoForm).then(res => {
						if(res.data){
							this.$message({
								type: 'success',
								message: '修改成功!'
							});
							// this.$refs.editDrawer.closeDrawer();
							this.get();
							this.innerDrawer = false;
							//this.userInfoForm = Object.assign({},row);
						}else{
							this.$message({
								type: 'info',
								message: '修改失败'
							});
						}
						// this.$refs.userInfoForm.resetFields();
					});
				},

				adjustIframe() {
					var ifm = document.getElementById("bi_iframe");
					ifm.height = document.documentElement.clientHeight;
					ifm.width = document.documentElement.clientWidth;
				},
				logout() {
					axios.request("http://localhost:8080/users/logout").then(res => {
						window.location.href = ("../login.html")
					});
				},
				handleOpen(key, keyPath) {
					console.log(key, keyPath);
				},
				handleClose(key, keyPath) {
					console.log(key, keyPath);
				},

				get() {
					/*this.drawer=true;*/
					axios.get("http://localhost:8080/usersInfo/getPersonalInfo").then(res => {
						console.log(res.data);
						this.dataForm = res.data;
						this.userInfoForm = Object.assign({},this.dataForm);
					});
				},

				openUrl(url) {

					this.iframeUrl = url;
				}

			}
		})
	</script>



</html>
