<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../assets/css/login.css"/>
    <link rel="stylesheet" href="../assets/css/element-ui/index.css"/>
    <link rel="shortcut icon" href="../assets/pics/logo2.png">


</head>
<div id="app" class="outerDiv">
    <div class="register">
        <div class="registerBody" align="center">
            <h4>注册</h4>
            <el-form :model="registerForm" :rules="rules" ref="registerForm" label-width="0px">
                <el-form-item label="" prop="userName" style="margin-top:10px;">
                    <el-row>
                        <el-col :span='2'>
                            <span class="el-icon-s-custom"></span>
                        </el-col>
                        <el-col :span='20'>
                            <el-input class="inps" placeholder='账号' v-model="registerForm.userName">
                            </el-input>
                        </el-col>
                    </el-row>
                </el-form-item>
                <el-form-item label="" prop="userPassword">
                    <el-row>
                        <el-col :span='2'>
                            <span class="el-icon-lock"></span>
                        </el-col>
                        <el-col :span='20'>
                            <el-input class="inps" type="password" placeholder='密码'
                                      v-model="registerForm.userPassword"></el-input>
                        </el-col>
                    </el-row>
                </el-form-item>
                <el-form-item label="" prop="checkPass">
                    <el-row>
                        <el-col :span='2'>
                            <span class="el-icon-lock"></span>
                        </el-col>
                        <el-col :span='20'>
                            <el-input class="inps" type="password" placeholder='确认密码'
                                      v-model="registerForm.checkPass"></el-input>
                        </el-col>
                    </el-row>
                </el-form-item>
                <el-form-item label="" >
                    <el-radio-group v-model="registerForm.userRole">
                        <el-radio :label="2">操作员</el-radio>
                        <el-radio :label="3">货物员</el-radio>
                    </el-radio-group>
                </el-form-item>
                <el-form-item style="margin-top:0px">
                    <el-button type="primary" round class="submitBtn" v-on:click="register('registerForm')">注册
                    </el-button>
                </el-form-item>
            </el-form>
        </div>
    </div>
</div>
<script src="../assets/js/vue.js"></script>
<script src="../assets/css/element-ui/index.js"></script>
<script src="../assets/js/vue-resource.js"></script>
<script src="../assets/js/axios.min.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            registerForm: {
                userName: '',
                userPassword: '',
                checkPass: '',
                userRole: 2
            },
        },
        data() {
            var validatePass = (rule ,value,callback)=>{
                if(value === ''){
                    callback(new Error('请再次输入密码'));
                }else if(value !== this.registerForm.userPassword){
                    callback(new Error('两次输入密码不一致'));
                }else{
                    callback();
                }
            }
            var validateName = (rule,value,callback)=>{
                if(/^[\u4E00-\u9FA5A-Za-z0-9]+$/.test(value) === false){
                    callback(new Error('只能输入中文、英文、数字'));
                }else{
                    callback();
                }
            }
            return {
                registerForm: {},
                registerForm: {
                    userName: '',
                    userPassword: '',
                    checkPass: '',
                    userRole: 2
                },
                rules: {
                    userName: [
                        {required: true, message: '请输入用户名', trigger: 'blur'},
                        {min: 3,max:15,message: '请输入3-15位字符',trigger:'blur'},
                        {validator: validateName,trigger: 'blur'}
                    ],
                    userPassword: [
                        {required: true, message:'请输入密码',trigger: 'blur'},
                        {pattern: /^(\w){6,12}$/, message: "只能输入6-12个字母、数字、下划线"},

                    ],
                    checkPass: [
                        {required: true, message:'请再次输入密码',trigger: 'blur'},
                        {validator: validatePass,trigger: 'blur'}
                    ]
                }
            }
        },

        methods: {
            register(registerForm) {
               /* if (this.registerForm.userName !== '') {
                    if (this.registerForm.userPassword !== '') {*/
                this.$refs[registerForm].validate((valid)=>{
                    if(valid){
                        console.log(this.registerForm);
                        axios.post("http://localhost:8080/users/register", this.registerForm).then(rel => {
                            if (rel.data) {
                                this.$message({
                                    type: 'success',
                                    message: '新增成功!'
                                });
                                window.location.href = ("login.html")
                            } else {
                                this.$message.error({
                                    type: 'error',
                                    message: '新增失败'
                                });
                            }
                        })
                    }else{
                        this.$message.error({
                            type: 'error',
                            message: '请重新填写'
                        });
                    }
                })

                /*    }
                }*/
            }
        }
    })
</script>
</html>
