<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="../assets/css/login.css" />
		<link rel="stylesheet" href="../assets/css/element-ui/index.css" />


	</head>
	<div id="app" class="outerDiv">
		<div class="registerInfo">
			<div class="registerInfoBody" align="center">
				<h4>个人信息</h4>
				<el-form :model="registerInfoForm" ref="registerInfoForm" label-width="0px">
					<el-form-item label="" prop="userTele" style="margin-top:10px;">
						<el-row>
							<el-col :span='2'>
								<span class="el-icon-s-custom"></span>
							</el-col>
							<el-col :span='20'>
								<el-input class="inps" placeholder='电话号码' v-model="registerForm.userTele">
								</el-input>
							</el-col>
						</el-row>
					</el-form-item>
					<el-form-item label="" prop="userLocation" style="margin-top:10px;">
						<el-row>
							<el-col :span='2'>
								<span class="el-icon-s-custom"></span>
							</el-col>
							<el-col :span='20'>
								<el-input class="inps" placeholder='地址' v-model="registerForm.userLocation">
								</el-input>
							</el-col>
						</el-row>
					</el-form-item>
					<el-form-item label="" prop="userRetailer" style="margin-top:10px;">
						<el-row>
							<el-col :span='2'>
								<span class="el-icon-s-custom"></span>
							</el-col>
							<el-col :span='20'>
								<el-input class="inps" placeholder='单位' v-model="registerForm.userRetailer">
								</el-input>
							</el-col>
						</el-row>
					</el-form-item>
					<el-form-item style="margin-top:10px">
						<el-button type="primary" round class="submitBtn" v-on:click="registerInfo">注册
						</el-button>
					</el-form-item>
				</el-form>
			</div>
		</div>
	</div>
	<script src="../assets/js/vue.js"></script>
	<script src="../assets/css/element-ui/index.js"></script>
	<script src="../assets/js/vue-resource.js"></script>
	<script src="../assets/js/axios.min.js"></script>
	<script>
		new Vue({
			el: '#app',
			data: {
				registerInfoForm: {
					userTele:'',
					userLocation:'',
					userRetailer:'',
				},
			},
			data() {
				return {
					registerInfoForm: {},
				}
			},

			methods: {
				registerInfo() {
					if (this.registerInfoForm.userTele !== '') {
						if (this.registerInfoForm.userLocation !== ''){
							if (this.registerInfoForm.userRetailer !== ''){
								axios.post("http://localhost:8080/users/registerInfo", this.registerInfoForm).then(rel => {
									if (rel.data) {
										this.$message({
											type: 'success',
											message: '填写成功!'
										});
										window.location.href = ("login.html")
									} else {
										this.$message({
											type: 'error',
											message: '填写失败'
										});
									}
								})
							}
						}
					}
				}
			}
		})
	</script>
</html>
