<!DOCTYPE html>
<html lang="en" xmlns="">
<head>
    <meta charset="UTF-8">
    <script src="../assets/js/vue.js"></script>
    <script src="../assets/js/axios.min.js"></script>
    <title>Users-test</title>
</head>
<body>
<div id="app">
    the test
    <ul>
        {{info.userTele}}
    </ul>
    <tr>
        <td>
            <table>商品名：</table>
            <input type="number" v-model="formData.id">
        </td>
        <td>
            <table>商品数量：</table>
            <input type="password" v-model="formData.goodsNumber">
        </td>
        <td>
            <input type="button" value="提交" v-on:click="getById">
        </td>
</div>
<script>
    new Vue({
        el: "#app",
        data: {
            info: {},
            formData: {}
        },
        created() {
            // this.getAll();
        },

        methods: {
            //查询所有
            getAll() {
                axios.get("http://localhost:8080/usersDetail/" + formData.id).then(res => {
                    this.info = res.data;
                    console.log(this.info)
                });
            },

            submitForm() {
                axios.post("http://localhost:8080/usersDetail/" + id).then(rel => {
                    if (rel.data) {
                        alert(rel.data);
                        // window.location.href=("admin.html")
                    } else {
                        alert(rel.data)
                    }

                })
            },
            getById() {
                var id = this.formData.id;
                axios.get("http://localhost:8080/usersDetail/" + id).then(res => {
                    this.info = res.data;
                    console.log(this.info)
                });
            }
        }
    })
</script>
</body>
</html>
