<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users-test</title>
</head>
<body>
<div id="app">
    the test
    <ul>
        <li v-for="info in info">
            {{info.userId}}
            {{info.userName}}
            {{info.userPassword}}
            {{info.userRole}}
        </li>
    </ul>
    <tr>
        <td>
            <table>用户名：</table>
            <input type="text" v-model="formData.userName" >
        </td>
        <td>
            <table>密码：</table>
            <input type="password" v-model="formData.userPassword">
        </td>
        <td>
            <input type="button" value="登录" v-on:click="submitForm">
        </td>
</div>
<script src="../assets/js/vue.js"></script>
<script src="../assets/js/axios.min.js"></script>
<script>
    new Vue({
        el: "#app",
        data:{
            info:[],
            formData:{}
        },
        created(){
            this.getAll();
        },

        methods:{
            //查询所有
            getAll(){
                axios.get("http://localhost:8080/users").then(res=>{
                    this.info=res.data;

                });
            },

            submitForm(){
                axios.post("http://localhost:8080/users",this.formData).then(rel=>{
                    if(rel.data){
                        alert("success");
                        window.location.href=("admin.html")
                    }else{alert("用户名或者密码错误")}

                })
            }
        }
    })
</script>
<script src="../assets/js/vue.js"></script>
<script src="../assets/js/axios.min.js"></script>
</body>
</html>
