<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../assets/css/goods.css" >
    <link rel="stylesheet" href="../assets/css/element-ui/index.css">
    <title></title>
</head>
<body>
<div id="app">
    <el-container>
        <el-container>
            <!-- 主体 -->
            <el-main>
                <el-breadcrumb style="margin-bottom: 12px;">
                    <el-breadcrumb-item>首页</el-breadcrumb-item>
                    <el-breadcrumb-item>业务流</el-breadcrumb-item>
                    <el-breadcrumb-item>用户管理</el-breadcrumb-item>

                </el-breadcrumb>

                <div class="card-container">
                    <div class="handle-container">
                        <el-button type="primary" plain style="margin:15px 20px;" @click="addClick" icon="el-icon-plus">新增用户</el-button>

                        <el-dialog :title="dialogFormTitle" :visible.sync="dialogFormVisible">
                            <el-form :model="form" ref="form">
                                <el-form-item label="用户ID" :label-width="formLabelWidth" prop="userId">
                                    <el-input v-model="form.userId" autocomplete="off"></el-input>
                                </el-form-item>
                                <el-form-item label="用户名称" :label-width="formLabelWidth" prop="userName">
                                    <el-input v-model="form.userName" autocomplete="off"></el-input>
                                </el-form-item>
                                <el-form-item label="用户密码" :label-width="formLabelWidth" prop="userPassword">
                                    <el-input v-model="form.userPassword" autocomplete="off"></el-input>
                                </el-form-item>
                                <el-form-item label="用户权限" :label-width="formLabelWidth" prop="userRole">
                                    <el-input v-model="form.userRole" autocomplete="off"></el-input>
                                </el-form-item>
                            </el-form>
                            <div slot="footer" class="dialog-footer">
                                <el-button @click="dialogFormVisible = false">取 消</el-button>
                                <el-button v-if="isAdd" type="primary" @click="addUsers">确 定</el-button>
                                <el-button  v-else type="primary" @click="updateUsersById">更 新</el-button>
                            </div>
                        </el-dialog>

                    </div>
                </div>

                <el-card>
                    <el-table :data="tableData" stripe style="width: 100%; " >
                        <el-table-column prop="userId" label="用户ID" width="180">
                        </el-table-column>
                        <el-table-column prop="userName" label="用户名称" width="180">
                        </el-table-column>
                        <el-table-column prop="userPassword" label="用户密码">
                        </el-table-column>
                        <el-table-column prop="userRole" label="用户权限">
                        </el-table-column>
                        <el-table-column label="操作" width="250" style="display: flex;">
                            <template slot-scope="scope" v-for="users in tableData">
                                <el-button type="primary" plain @click="editClick(scope.$index,scope.row)">编辑</el-button>
                                <el-button type="danger" plain @click="removeUsersById(scope.$index,scope.row)">删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <div style="text-align: center;">
                        <el-pagination background layout="prev, pager, next" :total="1000"></el-pagination>
                    </div>
                </el-card>
            </el-main>
        </el-container>
    </el-container>
</div>
</body>
<script src="../assets/js/vue.js"></script>
<script src="../assets/css/element-ui/index.js"></script>
<script src="../assets/js/axios.min.js"></script>

<script>
    new Vue({
        el: '#app',
        data: function() {
            return {
                tableData: [],
                dialogFormVisible: false,
                dialogFormTitle: "",
                form: {
                    id: '',
                    name: '',
                    password: '',
                    role: ''
                },
                formLabelWidth: '120px',
                isAdd: false

            }
        },

        created(){
            this.getAll();
        },

        methods: {
            getAll(){
                axios.get("http://localhost:8080/users").then(res=>{
                    this.tableData = res.data ;
                });
            },

            removeUsersById(index,row) {

				var userId = this.tableData[index].userId
				alert(userId);
				//this.userId = row.id
                this.$confirm('此操作将永久删除用户, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios.delete("http://localhost:8080/users/" + userId).then(res=> {
                        this.getAll();
                    });
                    this.$message({
                        type: 'success',
                        message: '删除成功!'
                    });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },

            addClick() {
                this.dialogFormVisible = true;
                this.dialogFormTitle = "新增用户";
                this.isAdd = true;
                this.form = {};
            },

            addUsers() {
                axios.post("http://localhost:8080/users/save",this.form).then(rel=>{
                    if(rel.data){
                        this.$message({
                            type: 'success',
                            message: '新增成功!'
                        });
                        this.getAll();
                        this.dialogFormVisible = false;

                    }else{
                        this.$message({
                            type: 'info',
                            message: '新增失败'
                        });
                    }
                    this.$refs.form.resetFields();
                })
            },

            editClick(index,row) {
                this.dialogFormVisible = true;
                this.dialogFormTitle = "修改用户信息";
                this.isAdd = false;
                this.form = Object.assign({},row);
                this.form.index = index;
            },
            updateUsersById() {
                axios.put("http://localhost:8080/users",this.form).then(rel=>{
                    if(rel.data){
                        this.$message({
                            type: 'success',
                            message: '修改成功!'
                        });
                        this.getAll();
                        this.dialogFormVisible = false;

                    }else{
                        this.$message({
                            type: 'info',
                            message: '修改失败'
                        });
                    }
                    this.$refs.form.resetFields();
                })
            }
        }
    })
</script>
</html>
